@import url("https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@400..700&family=Marck+Script&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import "tailwindcss";
/* app.css */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;   
  height: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
}

@font-face {
  font-family: Edu-SA-Beginner;
  src: url("./assets/fonts/Edu_SA_Beginner/static/EduSABeginner-Regular.ttf")
    format("truetype");
}

@font-face {
  font-family: Fredericka the Great;
  src: url("./assets/fonts/Fredericka_the_Great/FrederickatheGreat-Regular.ttf")
    format("truetype");
}

@theme {
  --font-edu: "Edu-SA-Beginner", sans-serif;
  --font-marck: "Marck Script", sans-serif;
  --font-fredericka: "Fredericka the Great", sans-serif;
  --color-notebookCover: #705220;
  --color-mainDarkGreen: #00b5a0;
  --color-mainLightGreen: #00c69b;
  --color-mainPink: #ff1654;
  --color-mainBlue: #118ad3;
}
a {
  font-weight: 600;
  text-decoration: inherit;
}
a:hover {
  color: #ffffff;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  height: 100vh; /* full viewport height */
  background-image: radial-gradient(rgba(83, 83, 83, 0.315) 1px, transparent 0);
  background-size: 30px 30px;
  background-color: rgb(255, 254, 233);
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
